.s-services {
  padding: rem(80) 0;

  &-list {
    grid-area: slider;
    min-width: 0;
  }

  &-text {
    grid-area: text;
  }

  &__text {
    padding-bottom: rem(12);
  }

  .s-services {
    &-list {
      position: relative;
      z-index: 1;

      &-wrapper {
        @include flex(row, nowrap, center, center);

        margin-top: rem(48);
        grid-gap: rem(24);

        .c-card {
          flex: 0 0 calc(100% / 3 - rem(24));
        }
      }
    }
  }

  .btn:not(.btn--absolute) {
    margin: rem(30) auto;
  }

}
